 body{background-color:#00b3e6;
} 
.An1{
    font-size: 22px;
}
.preditor{
    width: 700px;
    margin: auto;
    font-family: helvetica Neue;
    background-color: white;
    padding: 30xp;
    font-style: italic;
}
